/*Fonts*/

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Regular.eot');
  src: url('../fonts/Montserrat-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/Montserrat-Regular.woff2') format('woff2'), url('../fonts/Montserrat-Regular.woff') format('woff'), url('../fonts/Montserrat-Regular.ttf') format('truetype'), url('../fonts/Montserrat-Regular.svg#Montserrat-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  src: url('../fonts/GothamBold.eot');
  src: url('../fonts/GothamBold.eot?#iefix') format('embedded-opentype'), url('../fonts/GothamBold.woff2') format('woff2'), url('../fonts/GothamBold.woff') format('woff'), url('../fonts/GothamBold.ttf') format('truetype'), url('../fonts/GothamBold.svg#GothamBold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Book';
  src: url('../fonts/Gotham-Book.eot');
  src: url('../fonts/Gotham-Book.eot?#iefix') format('embedded-opentype'), url('../fonts/Gotham-Book.woff2') format('woff2'), url('../fonts/Gotham-Book.woff') format('woff'), url('../fonts/Gotham-Book.ttf') format('truetype'), url('../fonts/Gotham-Book.svg#Gotham-Book') format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Neutra Text Alt';
  src: url('../fonts/NeutraText-BookAlt.eot');
  src: url('../fonts/NeutraText-BookAlt.eot?#iefix') format('embedded-opentype'), url('../fonts/NeutraText-BookAlt.woff2') format('woff2'), url('../fonts/NeutraText-BookAlt.woff') format('woff'), url('../fonts/NeutraText-BookAlt.ttf') format('truetype'), url('../fonts/NeutraText-BookAlt.svg#NeutraText-BookAlt') format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Neutraface 2 Text Book';
  src: url('../fonts/Neutraface2Text-Book.eot');
  src: url('../fonts/Neutraface2Text-Book.eot?#iefix') format('embedded-opentype'), url('../fonts/Neutraface2Text-Book.woff2') format('woff2'), url('../fonts/Neutraface2Text-Book.woff') format('woff'), url('../fonts/Neutraface2Text-Book.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


/*General*/

body {
  font-family: 'Gotham Book';
}

.no-padding {
  padding-right: 0;
  padding-left: 0;
}

a {
  -webkit-transition: .3s;
  -ms-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

a:hover {
  text-decoration: none;
}

:focus {
  outline: none;
}

a:focus,
input:focus,
textarea:focus {
  outline: none;
  text-decoration: none;
}

img {
  max-width: 100%;
}

h1 {
  font-size: 50px;
  font-family: 'Neutra Text Alt';
}

h2 {
  font-family: 'Neutra Text Alt';
  color: #f35828;
  text-align: center;
  font-size: 34px;
  line-height: 24px;
}

h2:after {
  content: "_";
  display: block;
  text-align: center;
}

h3 {
  font-size: 30px;
  font-family: 'Neutra Text Alt';
}

h4 {
  text-transform: uppercase;
  color: #4dc6db;
}

.button {
  display: inline-block;
  text-transform: uppercase;
}

.button a,
.button-auctions a {
  border: 1px solid #f35828;
  color: #ffffff;
  padding: 10px;
  margin: 0;
  display: inline-block;
}

.button a:hover {
  background-color: #4dc6db;
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #acacac;
}

::-moz-placeholder {
  /* Firefox 19+ */
  color: #acacac;
}

:-ms-input-placeholder {
  /* IE 10+ */
  color: #acacac;
}

:-moz-placeholder {
  /* Firefox 18- */
  color: #acacac;
}

form {
  font-size: 13px;
}

form button {
  background-color: transparent;
  border: 2px solid #f1592a;
  color: #ffffff;
  padding: 0 15px;
  height: 50px;
  text-transform: uppercase;
  -webkit-transition: .3s;
  -ms-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

form button:hover {
  background-color: #4dc6db;
}

form input,
form textarea {
  width: 100%;
  border: 1px solid #606575;
  border-radius: 10px;
  background-color: #43454c;
  color: #acacac;
  padding: 0 10px;
}


/* General Slick Arrow */

.slick-list,
.slick-track {
  height: 100%;
}

.slick-arrow {
  background: transparent;
  border: none;
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
}

.slick-arrow i {
  font-size: 50px;
  vertical-align: middle;
  color: #2d313a;
}

.slick-arrow i:before {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.slick-arrow:hover i {
  color: #4dc6db!important;
}

.arrow-right {
  right: 0;
}

.arrow-left {
  left: 0;
}


/* start: Header CSS */

.section-header {
  background-color: #1f2128;
  padding: 5px 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.section-header .container-fluid {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.logo {
  display: inline-block;
  width: 20%;
}

.main-menu {
  float: right;
  text-align: right;
  width: 79.5%;
  font-size: 13px;
}

.main-menu ul {
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.main-menu li {
  display: inline-block;
  position: relative;
}

.main-menu a {
  color: #ffffff;
  display: block;
  font-family: 'Montserrat';
  margin: 10px;
  letter-spacing: 0.05em;
  border-bottom: 1px solid transparent;
}

.main-menu a:before {
  background-color: transparent;
  bottom: 0;
  content: "";
  display: inline-block;
  height: 2px;
  left: 10px;
  position: absolute;
  right: 10px;
  -webkit-transition: .3s;
  -ms-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.main-menu a:hover:before,
.main-menu li.active a:before {
  background-color: #f35828;
}

.button-auctions a {
  border-color: #4dc6db;
  color: #4dc6db;
  float: none;
  margin: 0;
  text-transform: none;
}

.button-auctions a:before {
  display: none;
}

.button-auctions a:hover,
.button-auctions.active a {
  background-color: #4dc6db;
  border-color: #f35828;
  color: #ffffff;
}


/* end: Header CSS */


/* Main Slider */

.slider-caption {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  color: #ffffff;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 1s;
  -ms-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s;
}

.main-slider .slick-active .slider-caption {
  opacity: 1;
  transition-delay: 1s;
  visibility: visible;
}

.slider-caption h1 {
  margin-top: 0;
  margin-bottom: 20px;
}

.main-slider .slick-slide,
.section-slider {
  position: relative;
}

.potrait-image .container-fluid {
  position: relative;
}

.potrait-image img {
  position: absolute;
  right: 5%;
  bottom: 0;
  width: 24%;
}

.slide-img {
  background-size: cover!important;
  position: absolute;
  width: 100%;
  height: 100%;
}


/* Contact Info */

.contact-info {
  background-color: #1f2128;
  color: #ffffff;
  position: relative;
}

.contact-info-bars {
  list-style: none;
  padding: 0;
  margin: 0;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  text-align: center;
}

.contact-info-bars li {
  width: 33%;
  display: inline-block;
  padding: 12px 20px;
  text-align: left;
  font-family: 'Montserrat';
  letter-spacing: 0.05em;
  color: #ffffff;
}

.contact-info-bars li:nth-child(2n+1) {
  background-color: #2d313a;
}

.contact-info-bars i {
  color: #f35828;
  padding-right: 10px;
  vertical-align: middle;
  line-height: 33px;
}

.contact-info-bars li:nth-child(2n+1) i {
  color: #4dc6db;
}

.contact-info-bars .phone-number i,
.contact-info-bars .email-address i {
  font-size: 26px;
}

.contact-info-bars .mobile-number i {
  font-size: 34px;
}


/* Section Video */

.section-video {
  background-color: #4b4f5c;
  padding: 30px 0;
}

.tablet-image {
  width: 80%;
  margin: 30px auto;
  position: relative;
}

.icon-play {
  border: 3px solid #4dc6db;
  border-radius: 50%;
  position: absolute;
  height: 70px;
  left: 0;
  margin: auto;
  right: 0;
  text-align: center;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 70px;
  z-index: 1;
}

.icon-play i {
  color: #4dc6db;
  font-size: 30px;
  line-height: 64px;
  padding-left: 5px;
}

.videopopupjs {
  background-color: #000000;
  padding: 5px;
}

.videopopupjs__content {
  margin: 0 auto;
  height: 100%;
}

.videopopupjs__close {
  position: absolute;
  margin: 0;
  top: 12px;
  right: 12px;
  -webkit-transition: all linear .2s;
  transition: all linear .2s;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  z-index: 1;
}

.videopopupjs__close:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  opacity: 1;
}

.videopopupjs__close:after {
  font-size: 16px;
  line-height: 25px;
  border: 2px solid #4dc6db;
  background-color: transparent;
  color: #4dc6db;
}


/* Section Intro */

.section-intro {
  background-color: #1f2128;
  color: #ffffff;
  position: relative;
}

.section-intro .container-fluid {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.intro-image {
  position: relative;
  padding-right: 0;
}

.intro-image img {
  float: right;
  position: relative;
  top: 100%;
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
  width: 100%;
  max-width: 510px;
}

.intro-desc {
  padding: 30px 15px;
}

.intro-desc>img {
  max-width: 350px;
}

.intro-desc a {
  color: #4dc6db;
  font-family: 'Gotham';
}

.intro-contact {
  margin-top: 20px;
  font-family: 'Gotham';
}

.intro-contact p:first-child {
  color: #f1592a;
  margin-bottom: 20px;
}

.intro-contact .sosmed-link {
  margin-top: 20px;
}

.intro-contact span {
  color: #4dc6db;
}


/* Section Parallax */

.section-parallax {
  position: relative;
  text-align: center;
  color: #ffffff;
  overflow: hidden;
}

.section-parallax .parallax-image {
  position: absolute;
  width: 100%;
  height: 200%;
  z-index: -1;
  background-size: cover!important;
}

.section-parallax .button {
  display: block;
  margin-top: 30px;
}

.section-parallax .button a {
  border-color: #4dc6db;
}

.section-parallax .button a:hover {
  border-color: #f1592a;
}

.section-parallax .container {
  padding: 40px 0 60px;
}

.section-parallax .container img {
  max-width: 220px;
}

.community .section-parallax {
  height: 480px;
}


/* Section Form */

.section-form {
  background-color: #2d313a;
  padding: 30px 0 50px;
}

.form-wrapper {
  max-width: 420px;
  margin: auto;
}

.form-ask {
  margin-top: 15px;
}

.form-ask button {
  margin: 10px auto 0;
  display: block;
}

.form-wrapper input,
.form-wrapper textarea {
  margin-bottom: 8px;
}

.form-wrapper input {
  height: 40px;
}

.form-wrapper input:first-child,
.form-wrapper input:nth-child(2) {
  width: 49.5%;
}

.form-wrapper input:nth-child(2) {
  float: right
}


/* Section Community */

.section-community {
  text-align: center;
  padding: 50px 0
}

.section-community h2 {
  margin-top: 0;
  margin-bottom: 30px;
}

.community-slider {
  margin: 50px 0 0;
  padding: 0 30px;
}

.community-slider .slick-slide img {
  margin: auto;
}


/* Section Testimonial */

.testimonial-slider .slick-arrow i {
  color: #ffffff;
}

.testimonial-slider .arrow-left {
  padding-left: 15px;
}

.testimonial-slider .arrow-right {
  padding-right: 15px;
}

.testimonial-img {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover!important;
  z-index: -1;
}

.testimonial-text {
  color: #ffffff;
  max-width: 1040px;
  text-align: center;
  padding: 0 65px;
  margin: auto;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.testimonial-text:before {
  background: url(../images/quote-icon-before.svg)no-repeat;
  background-size: contain;
  content: "";
  position: absolute;
  top: 0;
  left: 30px;
  width: 40px;
  height: 40px;
}

.testimonial-text:after {
  background: url(../images/quote-icon-after.svg)no-repeat;
  background-size: contain;
  content: "";
  position: absolute;
  bottom: -40px;
  right: 30px;
  width: 40px;
  height: 40px;
}

.testimonial-text.full {
  padding: 20px;
  top: auto;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}

.testimonial-text h2 {
  margin-bottom: 30px;
  margin-top: 0;
}

.testimonial-text h4 {
  text-transform: none;
  margin-top: 30px;
}


/* Blog Title */

.blog-title {
  height: 375px;
  text-align: center;
  position: relative;
  color: #ffffff;
}

.blog-title h1 {
  margin: 0;
  padding: 0 15px;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.background-title {
  background-size: cover!important;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
}


/* Blog List */

.blog-list {
  background-color: #464a58;
  padding: 30px 0;
}

.blog-list h2 {
  font-size: 32px;
  line-height: normal;
  text-align: left;
}

.blog-list h2 img {
  display: inline-block;
  vertical-align: text-top;
  max-width: 200px;
}

.blog-list h2:after {
  display: none
}

.blog-caption {
  padding: 15px;
}

.blog-caption:nth-child(even) {
  padding-left: 40px;
}

.blog-caption:nth-child(odd) {
  padding-right: 40px;
  clear: left;
}

.blog-caption h3 {
  color: #4dc6db;
  font-size: 28px;
}

.blog-caption a {
  color: #ffffff;
  display: block;
  -ms-transform: scale(1, 1);
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
}

.blog-caption a:hover {
  -ms-transform: scale(1.02, 1.02);
  -webkit-transform: scale(1.02, 1.02);
  transform: scale(1.02, 1.02);
}


/* Section Team */

.team .intro-image img {
  max-width: none;
  max-height: 85%;
  width: auto;
  position: absolute;
  left: 0;
}

.section-team {
  background-color: #464a58;
  padding: 30px 0;
}

.team-list {
  padding: 30px 30px 0;
  margin-bottom: 30px;
  position: relative;
  z-index: 1;
}

.team-list:nth-child(odd) {
  padding-right: 40px;
  clear: left;
}

.team-list:nth-child(even) {
  padding-left: 40px;
}

.team-desc {
  background-color: #1f2128;
  color: #ffffff;
  text-align: center;
  padding-bottom: 5px;
  position: relative;
}

.team-name {
  font-family: 'Neutraface 2 Text Book';
  font-size: 30px;
  line-height: 1;
  padding: 10px 15px 0;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.team-name:before {
  content: "[";
  display: inline-block;
  padding-right: 20px;
  color: #4dc6db;
}

.team-name:after {
  content: "]";
  display: inline-block;
  padding-left: 20px;
  color: #f1592a;
}

.team-position {
  color: #4dc6db;
  font-size: 15px;
  padding: 0 15px 5px;
}

.team-contact {
  background-color: #31333b;
  font-size: 13px;
  line-height: 24px;
  padding: 0 15px;
}

.team-contact em {
  font-style: normal;
  color: #4dc6db;
  padding-left: 15px;
  padding-right: 5px;
}

.mobile-phone,
.email {
  display: inline-block;
}

.team-desc a {
  position: absolute;
  width: 25px;
  height: 25px;
  right: 12px;
  top: 12px;
}

.team-desc a:hover {
  opacity: 0.5;
}

.team-desc a.reveal {
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.detail-desc {
  background-color: #1f2128;
  color: #ffffff;
  padding: 15px;
  font-size: 13px;
  position: absolute;
  left: 30px;
  right: 30px;
  z-index: -1;
  display: none;
}

.team-list:nth-child(odd) .detail-desc {
  right: 40px;
}

.team-list:nth-child(even) .detail-desc {
  left: 40px;
}


/* Section Contact */

.section-contact {
  background-color: #464a58;
  padding: 30px 0 60px;
}

.section-contact h2 {
  margin-bottom: 40px;
}

.section-contact .form-wrapper {
  margin: 5px 0 0;
}

.contact-list img {
  max-width: 320px;
  margin-bottom: -10px;
}

.contact-list .team-contact {
  background-color: transparent;
  color: #ffffff;
  text-align: left;
  padding: 0;
}

.contact-list .mobile-phone em {
  padding-left: 0;
}

.contact-list .sosmed-link a {
  margin: 10px 5px 0 0;
}

.contact-list h3 {
  margin: 30px 0 0;
  color: #ffffff;
  font-family: 'Neutraface 2 Text Book';
  font-size: 30px;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.personal-contact {
  padding-bottom: 30px;
}

.section-contact form input,
.section-contact form textarea {
  background-color: transparent;
  border-color: #1f2128;
}


/* Main Video */

.video-background {
  background-size: cover!important;
  width: 100%;
  height: 100%;
}


/* Recent Auctions */

.recent-auctions {
  background-color: #4b4f5c;
  text-align: center;
  padding: 30px 0
}

.recent-link {
  margin: 0;
  padding: 30px 0;
  list-style: none;
}

.recent-link a {
  color: #ffffff;
  line-height: 24px;
}

.recent-link a:hover {
  color: #4dc6db;
}


/* Properties Title */

.properties-title {
  background-color: #464a58;
  text-align: center;
}

.properties-title h1 {
  padding: 30px 0;
  margin: 0;
  color: #f35828;
  text-align: center;
  font-size: 34px;
  line-height: 24px;
}


/* Properties Slider */

.properties-slider {
  background-color: #464a58;
  width: 100%;
}

.properties-image {
  background-size: cover!important;
  width: 100%;
  height: 100%;
  max-width: 1140px;
  opacity: .4;
}

.properties-image.slick-active {
  opacity: 1;
}

.properties-slider .slick-arrow i {
  color: #ffffff;
}

.properties-slider .arrow-left {
  padding-left: 15px;
}

.properties-slider .arrow-right {
  padding-right: 15px;
}

.properties-slider .slick-track,
.properties-slider .slick-list {
  -webkit-perspective: 2000;
  -webkit-backface-visibility: hidden;
}


/* Properties Detail */

.properties-detail {
  background-color: #1f2128;
  color: #ffffff;
  padding: 30px 0;
}

.properties-detail h2:after {
  display: none;
}

.properties-detail h2 {
  text-align: left;
  line-height: normal;
  margin: 0;
}

.detail-heading {
  border-bottom: 1px solid #ffffff;
  display: flex;
  padding-bottom: 30px;
  margin-bottom: 30px;
}

.detail-title,
.detail-icon,
.detail-text,
.detail-sidebar {
  padding: 0;
}

.icon-list {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: right;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.icon-list li {
  display: inline-block;
  font-size: 16px;
  padding-left: 10px;
  margin: 5px 0;
}

.icon-list li img {
  width: 30px;
  display: inline-block;
  vertical-align: text-bottom;
}

.detail-text {
  line-height: 24px;
}

.detail-text .button {
  margin-top: 30px;
}

.detail-content h4 {
  text-transform: none;
  font-family: 'Gotham';
  font-size: 20px;
}

.detail-text ul,
.open-times ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.detail-text li {
  position: relative;
  padding-left: 15px;
}

.detail-text li:before {
  content: "\2022";
  color: #4dc6db;
  left: 0;
  position: absolute;
}


/* Detail Sidebar */

.detail-status h2 {
  font-size: 34px;
}

.detail-sidebar .button {
  margin-top: 30px;
}

.open-times span {
  float: right;
}

.open-times {
  margin-top: 30px;
}

.open-times ul {
  line-height: 24px;
  font-size: 13px;
}

.open-times li {
  position: relative;
  padding-left: 20px;
}

.open-times i {
  position: absolute;
  left: 2px;
  line-height: 24px;
  font-size: 14px;
}

.detail-navigation {
  margin-top: 30px;
}

.detail-navigation a {
  color: #4dc6db;
  font-family: 'Gotham';
  float: left;
  line-height: 24px;
}

.detail-navigation a:hover {
  color: #f35828;
}

.detail-navigation a:last-child {
  float: right;
}


/* Remodal */

.remodal {
  max-width: none;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  width: 95%;
}

.remodal-overlay {
  background: #ffffff;
}

.remodal img {
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 100%;
}

.remodal-wrapper {
  padding: 15px;
}

.remodal-close {
  width: 30px;
  height: 30px;
  top: 12px;
  right: 12px;
  left: auto;
  -webkit-transition: all linear .2s;
  transition: all linear .2s;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  z-index: 1;
}

.remodal-close:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

.remodal-close:before {
  display: none;
}

.remodal-close:after {
  border: 2px solid #4dc6db;
  background-color: transparent;
  border-radius: 50%;
  color: #4dc6db;
  content: 'X';
  display: block;
  font-size: 16px;
  font-family: 'Verdana';
  height: 30px;
  line-height: 25px;
  text-align: center;
  width: 30px;
}

#map {
  z-index: 1;
  width: 100%;
  height: 390px;
}


/* Section Listing */

.section-listing {
  background-color: #464a58;
  text-align: center;
  padding: 30px 0;
  overflow-x: hidden;
}

.section-listing h4 {
  text-transform: none;
}

.section-listing .button {
  margin-top: 15px;
}

.thumb-wrapper {
  margin: 30px 0 20px;
}

.list-thumb {
  height: 300px;
  display: inline-block;
  background-color: #464a58;
  text-align: left;
  position: relative;
  margin-bottom: 8px;
}

.list-thumb a {
  display: block;
  color: #ffffff;
  font-size: 15px;
  font-family: 'Montserrat';
}

.small {
  width: 27.4%;
}

.medium {
  width: 36.4%;
}

.large {
  width: 44%;
}

.list-thumb:nth-child(3n+2) {
  margin: 0 4px 8px;
}

.list-thumb:nth-child(1),
.list-thumb:nth-child(3n+4) {
  margin-left: -10px;
}

.list-thumb:nth-child(3n+3) {
  margin-right: -10px;
}

.thumb-img {
  background-size: cover!important;
  position: absolute;
  width: 100%;
  height: 100%;
}

.thumb-desc {
  position: absolute;
  text-align: center;
  width: 100%;
  height: 100%;
  background-color: rgba(31, 33, 40, 0.8);
  -webkit-transition: .3s;
  -ms-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  opacity: 0;
  visibility: hidden;
}

.desc-wrapper {
  position: relative;
  padding: 0 15px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.list-thumb a:hover .thumb-desc {
  opacity: 1;
  visibility: visible;
}

.desc-title {
  margin-bottom: 35px;
}

.desc-title:after {
  content: "_";
  display: block;
  text-align: center;
  font-family: 'Neutra Text Alt';
  color: #f35828;
  font-size: 34px;
  line-height: 0;
}

.label-sold {
  position: absolute;
  z-index: 1;
}

.label-sold img {
  width: 100%;
}

.sold-circle .label-sold {
  top: 15px;
  right: 15px;
  width: 70px;
  height: auto;
}

.sold-triangle .label-sold {
  top: 0;
  right: 0;
  width: 100px;
  height: auto;
}


/* Footer */

.section-footer {
  background-color: #1f2128;
  font-family: 'Montserrat';
  letter-spacing: 0.05em;
  padding-top: 60px;
}

.footer-logo img {
  display: inline-block;
  width: 65%;
}

.section-footer h5 {
  color: #4dc6db;
  text-transform: uppercase;
  line-height: 20px;
  margin-top: 0;
}

.footer-newsletter {
  text-align: center;
  padding: 0 50px;
}

.footer-newsletter form {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.footer-newsletter input {
  height: 50px;
}

.footer-newsletter button {
  margin-left: 10px;
}

.footer-sosmed {
  text-align: right;
}

.sosmed-link a {
  border: 2px solid #ffffff;
  border-radius: 50%;
  background-color: transparent;
  color: #f1592a;
  display: inline-block;
  height: 40px;
  margin: 5px 0 5px 5px;
  text-align: center;
  width: 40px;
}

.sosmed-link a:hover {
  background-color: #4dc6db;
  border-color: #f1592a;
}

.sosmed-link a:hover i {
  -webkit-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
  color: #ffffff;
}

.sosmed-link i {
  font-size: 20px;
  line-height: 36px;
  -webkit-transition: .5s;
  -ms-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}

.sosmed-link .youtube i {
  font-size: 17px;
  padding-left: 4px;
  line-height: 35px;
}

.sosmed-link .linkedin-link i {
  line-height: 34px;
  padding-left: 2px;
}

.footer-link {
  text-align: center;
  padding: 60px 15px 30px;
}

.footer-link ul,
.sosmed-link {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-link li,
.sosmed-link li {
  display: inline-block;
  vertical-align: top;
}

.footer-link a {
  color: #878da2;
  text-transform: uppercase;
  margin: 0 10px;
  font-size: 13px;
}

.footer-link a:hover {
  color: #f1592a;
}

.copyright {
  background-color: #f1592a;
  color: #1f2128;
  padding: 20px 15px 10px;
  font-size: 12px;
}

.copyright p {
  display: inline-block;
}

.copyright .align-right {
  float: right;
}

@media (min-width: 1441px) {
  .container-fluid {
    max-width: 1920px;
  }
  .container {
    width: 1360px;
  }
  .main-menu {
    font-size: 16px;
  }
  .footer-newsletter form,
  .footer-link a,
  .section-footer h5,
  .testimonial-text {
    font-size: 15px;
  }
  h1 {
    font-size: 75px;
  }
  .contact-info-bars li {
    padding: 20px;
  }
  .testimonial-slider .arrow-left {
    left: 10%;
  }
  .testimonial-slider .arrow-right {
    right: 10%;
  }
  .testimonial-text:before {
    width: 50px;
    height: 50px;
  }
  .testimonial-text:after {
    width: 50px;
    height: 50px;
  }
  .blog-title {
    height: 500px;
  }
  .community .section-parallax {
    height: 700px;
  }
  .team .intro-image img {
    right: -10%;
    left: auto;
  }
}

@media (max-width: 1199px) {
  /* General */
  form {
    font-size: 12px;
  }
  /* Main Menu */
  .main-menu {
    font-size: 10px;
  }
  /* Blog Title */
  .blog-title {
    height: 270px;
  }
  /* Section Parallax */
  .community .section-parallax {
    height: 400px;
  }
  /* Section Team */
  .team-name {
    font-size: 26px;
  }
  .team-position {
    font-size: 14px;
  }
  /* Section Contact */
  .intro-image img {
    max-width: none;
    max-height: 85%;
    width: auto;
    position: absolute;
    left: -10%;
  }
  .team .intro-image img {
    left: -10%;
    max-height: 70%;
  }
  .section-contact h2 {
    line-height: 1;
    font-size: 26px;
  }
  /* Properties Slider */
  .properties-image {
    opacity: 1;
    max-width: none;
  }
  /* Section Listing */
  .list-thumb {
    height: 250px;
  }
  .list-thumb a {
    font-size: 13px;
  }
  /* Footer */
  .section-footer h5 {
    font-size: 13px;
    line-height: 16px;
  }
  .footer-newsletter {
    padding: 0 15px;
  }
  .footer-newsletter input,
  .footer-newsletter button {
    height: 40px;
  }
  .footer-link {
    padding: 40px 15px 20px;
  }
  .footer-link a {
    font-size: 11px;
  }
  .copyright {
    font-size: 10px;
  }
}

@media (max-width: 991px) {
  /* General */
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 26px;
  }
  h3 {
    font-size: 24px;
  }
  /* start: Header CSS */
  .logo {
    width: 200px;
  }
  .section-header .container-fluid {
    display: block
  }
  .navbar-toggle {
    display: block;
    padding: 0;
    position: relative;
    border-radius: 0;
  }
  .burger-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
  .burger {
    height: 40px;
    width: 40px;
    padding: 0;
    border-radius: 50%;
    border: 2px solid transparent;
    cursor: pointer;
    z-index: 1000;
    background-color: transparent;
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
    margin: 6px 0 0;
  }
  .burger.open {
    border-color: #4dc6db;
  }
  .x,
  .y,
  .z {
    position: absolute;
    margin: auto;
    top: 0px;
    bottom: 15px;
    left: 0;
    right: 0;
    background: #ffffff;
    -webkit-transition: all 200ms ease-out;
    -moz-transition: all 200ms ease-out;
    -ms-transition: all 200ms ease-out;
    -o-transition: all 200ms ease-out;
    transition: all 200ms ease-out;
  }
  .x,
  .y,
  .z {
    width: 24px;
    height: 3px;
  }
  .y {
    top: 16px;
  }
  .z {
    top: 32px;
  }
  .collapse-icon {
    background: #f35828;
    top: 15px;
    -webkit-transition: all 70ms ease-out;
    -moz-transition: all 70ms ease-out;
    -ms-transition: all 70ms ease-out;
    -o-transition: all 70ms ease-out;
    transition: all 70ms ease-out;
  }
  .rotate30 {
    -ms-transform: rotate(30deg);
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
    -webkit-transition: all 50ms ease-out;
    -moz-transition: all 50ms ease-out;
    -ms-transition: all 50ms ease-out;
    -o-transition: all 50ms ease-out;
    transition: all 50ms ease-out;
  }
  .rotate150 {
    -ms-transform: rotate(150deg);
    -webkit-transform: rotate(150deg);
    transform: rotate(150deg);
    -webkit-transition: all 50ms ease-out;
    -moz-transition: all 50ms ease-out;
    -ms-transition: all 50ms ease-out;
    -o-transition: all 50ms ease-out;
    transition: all 50ms ease-out;
  }
  .rotate45 {
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: all 100ms ease-out;
    -moz-transition: all 100ms ease-out;
    -ms-transition: all 100ms ease-out;
    -o-transition: all 100ms ease-out;
    transition: all 100ms ease-out;
  }
  .rotate135 {
    -ms-transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
    -webkit-transition: all 100ms ease-out;
    -moz-transition: all 100ms ease-out;
    -ms-transition: all 100ms ease-out;
    -o-transition: all 100ms ease-out;
    transition: all 100ms ease-out;
  }
  .menu-bg {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #1f2128;
    z-index: 100;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 300ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
    -moz-transition: all 300ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
    -ms-transition: all 300ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
    -o-transition: all 300ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
    transition: all 300ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
  }
  .menu-bg.animate {
    opacity: 0.9;
    visibility: visible;
    -webkit-transition: all 400ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
    -moz-transition: all 400ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
    -ms-transition: all 400ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
    -o-transition: all 400ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
    transition: all 400ms cubic-bezier(0.000, 0.995, 0.990, 1.000);
  }
  .main-menu {
    width: 100%;
    max-width: 750px;
    padding: 22px 15px;
    opacity: 0;
    visibility: hidden;
    -webkit-animation-name: zoomOut;
    animation-name: zoomOut;
    -webkit-animation-duration: .3s;
    animation-duration: .3s;
    position: absolute;
    z-index: 102;
    display: block;
    left: 0;
    right: 0;
    margin: auto;
  }
  @-webkit-keyframes zoomOut {
    from {
      opacity: 1;
    }
    50% {
      opacity: 0;
      -webkit-transform: scale3d(.3, .3, .3);
      transform: scale3d(.3, .3, .3);
    }
    to {
      opacity: 0;
    }
  }
  @keyframes zoomOut {
    from {
      opacity: 1;
    }
    50% {
      opacity: 0;
      -webkit-transform: scale3d(.3, .3, .3);
      transform: scale3d(.3, .3, .3);
    }
    to {
      opacity: 0;
    }
  }
  .main-menu.animate {
    -webkit-animation-name: zoomIn;
    animation-name: zoomIn;
    -webkit-animation-duration: .4s;
    animation-duration: .4s;
    opacity: 1;
    visibility: visible;
  }
  @-webkit-keyframes zoomIn {
    from {
      opacity: 0;
      -webkit-transform: scale3d(.3, .3, .3);
      transform: scale3d(.3, .3, .3);
    }
    50% {
      opacity: 1;
    }
  }
  @keyframes zoomIn {
    from {
      opacity: 0;
      -webkit-transform: scale3d(.3, .3, .3);
      transform: scale3d(.3, .3, .3);
    }
    50% {
      opacity: 1;
    }
  }
  .main-menu ul {
    display: block;
    top: auto;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  .main-menu ul li {
    display: block;
    padding: 0;
  }
  .main-menu a:before {
    display: none;
  }
  .main-menu a:hover,
  .main-menu .active a {
    color: #f35828;
    border-color: #f35828;
  }
  .button-auctions {
    margin-top: 5px;
    margin-right: 15px;
    float: right;
  }
  .button-auctions a {
    font-size: 13px;
  }
  .main-menu a {
    font-size: 13px;
    margin: 0;
    padding: 15px 0;
    border-bottom: 1px solid #ffffff;
  }
  /* end: Header CSS */
  /* Main Slider */
  .potrait-image img {
    right: 0;
    width: 33%;
  }
  /* Contact Info */
  .contact-info-bars li {
    font-size: 12px;
    padding: 10px;
  }
  .contact-info-bars .phone-number i,
  .contact-info-bars .email-address i {
    font-size: 24px;
  }
  .contact-info-bars .mobile-number i {
    font-size: 32px;
  }
  /* Section Intro */
  .section-intro .container-fluid {
    display: block;
    position: relative;
  }
  .intro-image img {
    top: auto;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    max-width: 300px;
    max-height: none;
    width: 100%;
    left: auto;
    position: relative;
  }
  .team .intro-image img {
    max-height: none;
    width: 100%;
    left: auto;
    position: relative;
  }
  .intro-desc {
    padding: 15px 0 30px;
  }
  .intro-image {
    width: 300px;
    height: 300px;
    float: right;
  }
  /* Section Form */
  .form-wrapper {
    max-width: 360px;
  }
  /* Section Parallax */
  .community .section-parallax {
    height: 360px;
  }
  /* Blog Title */
  .blog-title {
    height: 200px;
  }
  /* Blog List */
  .blog-list {
    padding: 15px 0 30px;
  }
  .blog-list h2 img {
    max-width: 120px;
  }
  .blog-list h2 {
    font-size: 24px;
  }
  .blog-caption h3 {
    font-size: 22px;
  }
  .blog-caption:nth-child(odd) {
    padding-right: 30px;
  }
  .blog-caption:nth-child(even) {
    padding-left: 30px;
  }
  /* Section Community */
  .section-community {
    padding: 30px 0;
  }
  /* Section Team */
  .team-name {
    font-size: 24px;
  }
  .team-position {
    font-size: 13px;
  }
  .team-contact {
    font-size: 11px;
  }
  .team-name:before {
    padding-right: 10px;
  }
  .team-name:after {
    padding-left: 10px;
  }
  .team-desc a {
    position: absolute;
    width: 21px;
    height: 21px;
    right: 6px;
    top: 10px;
  }
  .team-desc a:hover {
    opacity: 1;
  }
  .team-list:nth-child(odd) {
    padding-right: 30px;
  }
  .team-list:nth-child(even) {
    padding-left: 30px;
  }
  .team-list:nth-child(odd) .detail-desc {
    right: 30px;
  }
  .team-list:nth-child(even) .detail-desc {
    left: 30px;
  }
  /* Section Contact */
  .contact-list img {
    max-width: 260px;
  }
  .contact-list h3 {
    font-size: 26px;
  }
  .section-contact .form-wrapper {
    margin: 5px auto 0;
  }
  /* Properties Individual */
  .properties-title h1 {
    font-size: 26px;
    padding: 20px 0;
  }
  /* Detail Sidebar */
  .open-times span {
    display: block;
    float: none;
  }
  .open-times li {
    padding-left: 30px;
  }
  .open-times i i {
    font-size: 16px;
  }
  /* Section Listing */
  .list-thumb {
    height: auto;
    width: 46%;
    float: left;
  }
  .thumb-desc {
    opacity: 1;
    visibility: visible;
    height: auto;
    background-color: #1f2128;
    position: relative;
  }
  .thumb-img {
    height: 200px;
    position: relative;
  }
  .desc-wrapper {
    padding: 15px;
    top: auto;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  .list-thumb a {
    font-size: 12px;
  }
  .list-thumb:nth-child(1),
  .list-thumb:nth-child(3n+4),
  .list-thumb:nth-child(3n+2),
  .list-thumb:nth-child(3n+3) {
    margin: 0 2% 30px;
  }
  .thumb-wrapper .row {
    margin: 0;
  }
  /* Footer */
  .footer-logo img {
    width: 250px;
  }
  .section-footer {
    padding-top: 20px;
  }
  .footer-logo {
    text-align: center;
    margin-bottom: 30px;
  }
  .section-footer h5 {
    font-size: 12px;
  }
  .footer-newsletter {
    text-align: left;
  }
  .footer-link a {
    font-size: 10px;
    margin: 0 8px;
  }
}

@media (max-width: 767px) {
  .testimonial-text:before {
    top: 15%;
    left: 15px;
    width: 30px;
    height: 30px;
  }
  .testimonial-text:after {
    bottom: 40px;
    right: 15px;
    width: 30px;
    height: 30px;
  }
  .testimonial-text p {
    padding: 0 30px;
  }
  .testimonial-text {
    padding: 0 20px;
  }
  /* Main Slider */
  .slider-caption {
    -webkit-transition: opacity .5s;
    -ms-transition: opacity .5s;
    -o-transition: opacity .5s;
    transition: opacity .5s;
  }
  .main-slider .slick-active .slider-caption {
    transition-delay: .3s;
  }
  /* Contact Info */
  .contact-info-bars {
    display: block;
    margin: 0 -15px;
  }
  .contact-info-bars li {
    display: block;
    width: 100%;
    padding: 10px 15px;
    font-size: 13px;
  }
  .contact-info-bars i {
    width: 35px;
    text-align: center;
  }
  /* Section Intro */
  .intro-image {
    width: 100%;
    height: auto;
    float: right;
    padding: 0;
    text-align: center;
  }
  .intro-image img {
    float: none;
  }
  /* Blog Title */
  .blog-title h1 {
    font-size: 34px;
  }
  /* Blog List */
  .blog-list h2 br {
    display: none;
  }
  .blog-caption:nth-child(odd),
  .blog-caption:nth-child(even) {
    padding: 15px;
  }
  .blog-caption a:hover {
    -ms-transform: (1, 1);
    -webkit-transform: (1, 1);
    transform: scale(1, 1);
  }
  /* Section Parallax */
  .section-parallax .container {
    padding: 40px 0;
  }
  /* Section Team */
  .team-list img {
    width: 100%;
  }
  .detail-desc {
    position: relative;
    left: auto!important;
    right: auto!important;
  }
  .team-list {
    margin-bottom: 0;
  }
  .intro-desc h4 {
    margin-top: 0;
  }
  .personal-contact,
  .contact-list .team-contact {
    text-align: center;
  }
  .section-contact h2 {
    font-size: 22px;
    margin-bottom: 20px;
  }
  /* Recent Auctions */
  .recent-link li {
    margin-bottom: 10px;
    font-size: 13px;
  }
  .recent-link {
    padding: 10px 0 0;
  }
  /* Properties Individual */
  .properties-title h1 {
    padding: 15px 0;
  }
  /* Detail Sidebar */
  .detail-sidebar {
    margin-top: 30px;
  }
  .detail-sidebar .button {
    display: inline-block!important;
    font-size: 12px;
  }
  .detail-sidebar .button:last-child {
    margin-left: 18px;
  }
  /* Section Listing */
  .thumb-img {
    height: 170px;
  }
  .thumb-wrapper .row {
    margin: 0;
  }
  .section-listing .button {
    font-size: 12px;
  }
  /* Footer */
  .section-footer {
    padding-top: 15px;
  }
  .footer-sosmed,
  .footer-newsletter {
    text-align: center;
    margin-bottom: 30px;
  }
  .copyright {
    text-align: center;
  }
  .copyright .align-right {
    float: none;
  }
  .footer-logo {
    margin-bottom: 10px;
  }
}

@media (max-width: 480px) {
  /* General */
  h1 {
    font-size: 42px;
  }
  h2 {
    font-size: 24px;
    line-height: 1;
  }
  h3 {
    font-size: 20px;
  }
  h4 {
    font-size: 16px;
  }
  p {
    font-size: 13px;
  }
  /* start: Header CSS */
  .section-header {
    height: 60px;
    padding: 10px 0;
  }
  .logo {
    width: 160px;
  }
  .button-auctions {
    margin-right: 5px;
  }
  .button-auctions a {
    font-size: 10px;
    padding: 6px;
  }
  .burger.open {
    border-color: transparent;
  }
  .burger {
    margin: 2px -6px 0 0;
    height: 34px;
  }
  /* end: Header CSS */
  /* Section Video */
  .tablet-image {
    width: 100%;
  }
  .section-video {
    padding: 10px 0 0;
  }
  .icon-play {
    height: 50px;
    width: 50px;
  }
  .icon-play i {
    font-size: 20px;
    line-height: 46px;
    padding-left: 5px;
  }
  /* Section Intro */
  .intro-image img {
    max-width: none;
  }
  /* Section Parallax */
  .section-parallax .container img {
    max-width: 150px;
  }
  .section-parallax h3 {
    margin-top: 0;
  }
  .section-parallax .button a {
    font-size: 10px;
  }
  /* Blog Title */
  .blog-title {
    height: 150px;
  }
  .blog-title h1 {
    font-size: 30px;
  }
  /* Blog List */
  .blog-list {
    padding-top: 0;
  }
  .blog-list h2 {
    font-size: 22px;
  }
  /* Section Team */
  .team-list {
    padding: 15px!important;
  }
  .team-position {
    font-size: 12px;
  }
  .team-contact {
    line-height: 18px;
    padding: 5px 15px;
    font-size: 12px;
  }
  .team-name {
    font-size: 18px;
    line-height: normal;
  }
  .mobile-phone,
  .email {
    display: block;
  }
  /* Section Form */
  .form-wrapper input:first-child,
  .form-wrapper input:nth-child(2) {
    width: 49%;
  }
  /* Section Contact */
  .section-contact {
    padding-bottom: 0 0 30px;
  }
  .contact-list h3 {
    font-size: 20px;
  }
  /* Recent Auctions */
  .recent-auctions h2 {
    margin-top: 0;
  }
  /* Properties Individual */
  .properties-title h1 {
    font-size: 24px;
    line-height: 1;
  }
  .detail-status p,
  .open-times ul {
    font-size: 15px;
  }
  .open-times i {
    font-size: 16px;
  }
  #map {
    height: 300px;
  }
  /* Section Listing */
  .list-thumb:nth-child(1),
  .list-thumb:nth-child(3n+4),
  .list-thumb:nth-child(3n+2),
  .list-thumb:nth-child(3n+3) {
    margin: 0 0 20px;
  }
  .list-thumb {
    width: 100%;
    float: left;
  }
}